.App {
  text-align: center;
}

.card_style{
display: flex;
align-items: center;
justify-content: center;

}
.pic_style{
  padding: 8px;
  height: 500px;
  width: 50%;
}
.btn_style{
  height: 40px;
  width: 100px;
  background-color: green;
  color: black;
  padding: 8px;
}
.greeting{
background-color: chartreuse;
padding: 10px;
text-align: center;
}
@media (max-width: 600px) {
  .card_style{
    display: flex;
    align-items: center;
    justify-content: center;
    
    }
    .pic_style{
      padding: 6px;
      height: 90vh;
      width: 90%;
    }
    .btn_style{
      height: 40px;
      width: 90px;
      background-color: green;
      color: black;
      padding: 8px;
      font-size: medium;
    }
    .greeting{
      background-color: chartreuse;
      padding: 10px;
      width: 100%;
      text-align: center;
      }
}